{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <h1>Your Audio</h1>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">{{message}}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        {% for audio in audios %}
        <div class="col-md-4">
            <div class="audio_item mb-4 shadow-sm">
                <audio controls>
                    <source src="{{audio.path}}" type="audio/mpeg">
                </audio>
                <div class="card-body">
                    <p class="card-text">{{audio.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-success" href="#" download="{{audio.path}}"
                            >Download</a
                            >
                            <form action="/audios/delete/{{audio.id}}" method="post">
                                <button class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>
                        <small class="text-muted">File size</small>
                        <small class="text-muted">{{(audio.size)/1000000}} </small>
                        <small class="text-muted">MB</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
